body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    max-width: 80vw;
    margin: 2rem auto;
}

.dash-table-container {
    overflow: scroll;
}

.dash-table-container,
.dash-graph {
    margin: 2rem 0;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex p {
    margin-right: 1rem;
    flex-shrink: 0;
}

.flex .dash-dropdown {
    width: 100%;
}

.flex #date-picker-range {
    width: 100%;
}
